@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600; */
  font-family: 'PT Sans';
  font-weight: 500;
    
}
body{
    background-color: #2F2D2E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#input input{
    height: 5vmin;
    width: 50vmin;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color:white;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container form{
    height: 100%;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 3vmin;
    
}
#selectContainer{
    display: flex;
    justify-content: space-between;
    border: none;
    
}
select{
    height: 5vmin;
    border: none;
    font-size: 3vmin;
}
.select{
   display: flex;
   justify-content: center;
   align-items: center;
}
.select img{
    height: 5vmin;
    width: 5vmin;
}



#excBtn{
    width: 100%;
    height: 6vmin;
    border-radius: 20px;
    background-color: #2F2D2E;
    color: white;
    font-size: 3vmin;

}
#excBtn:hover{
    cursor: pointer;

}